 @import url('https://fonts.googleapis.com/css2?family=Kurale&family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'kurale';
    background: url('welcome.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      background-color: rgba(128, 128, 128, 0.308);
}

 